---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ContactSection from "../../components/ContactForm.astro"

import FormattedDate from '../../components/FormattedDate.astro';
import BackBt from "../../components/BackBt.astro";

export async function getStaticPaths() {
    const blog = await getCollection("blog");
    return blog.map((blog) => ({
        params: { slug: blog.slug },
        props: blog,
    }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();


import "../../styles/blog/blog.css"
import "../../styles/blog/post.css"

import { Schema } from "astro-seo-schema"

const posts = (await getCollection('blog')).sort(
	(a, b) =>  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<Layout {...post.data} title={post.data.title}>
    <BackBt url={`/blog/#${(post.data.title).toLowerCase().replace(/\s+/g, '-')}`} label="Return"/>

    <main>

        {post.data.heroImage ? (
            <div class="hero_img">
                <img src={post.data.heroImage} alt={post.data.description} loading="lazy" draggable="false" class="reveal_delay"/>
            </div>
        ) : null}
    
        <div class="content_ctnr">
            <article class="reveal">
                <FormattedDate date={post.data.pubDate} />
        
                <h1>{post.data.title}</h1>
    
                <div class="post_content">
                    {post.data.standFirst ? (
                        <p class="standfirst">{post.data.standFirst}</p>
    
                        <hr/>
                    ) : null}
    
                    <Content />
                </div>
            </article>
        </div>
    </main>
    
    <section class="contact_ctnr">
        <h2>Get in touch</h2>
        <ContactSection />
    </section>

    <Schema
        item={{
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            headline: `${post.data.title}`,
            image: `${post.data.heroImage}`,
            "author": [{
                "@type": "Person",
                "name": "Samit Patel"
            }],
            "publisher": {
                "@type": "Organization",
                "name": "Samit Patel",
                "logo": {
                    "@type": "ImageObject",
                    "url": "/logo/tcn-logo-360.png"
                }
            }
        }}
    />
</Layout>