---
import Layout from '../../layouts/Layout.astro';

import FormattedDate from '../../components/FormattedDate.astro';

import { type CollectionEntry, getCollection } from 'astro:content';


export async function getStaticPaths({ paginate }) {

	const posts = (await getCollection('blog')).sort(
		(a, b) =>  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
	);
  return paginate(posts, { pageSize: 6 })
}

const { page } = Astro.props;

import BackBt from '../../components/BackBt.astro';

import "../../styles/blog/blog.css"
import "../../styles/blog/blog-collection.css"

import { Schema } from "astro-seo-schema"
---

<Layout title={`Sam Patel Blog | Page ${page.currentPage}`}>
	<BackBt url={`/`} label="Return Home"/>

	<main>
		<section class="scroll_margin_top base_width" id="posts">

			<h1 class="reveal"><sub>Sam's</sub>Blog <span class="page">Page {page.currentPage}</span></h1>

			<ul class="posts scroll_margin_top" id="posts">
				{
					page.data.map((post) => (
						<>
						<li id={(post.data.title).toLowerCase().replace(/\s+/g, '-')} class="scroll_margin_top reveal">
							<div class="ctnr">
								<a class="hero" href={`/blog/${post.slug}/`}>
									<img src={post.data.heroImage} alt={post.data.description} loading="lazy"/>
								</a>

								<div class="content">
									<div class="ctnr">
										<FormattedDate date={post.data.pubDate} />
	
										<a href={`/blog/${post.slug}/`}>
											<h3 class="title">{post.data.title}</h3>
										</a>

										{post.data.description ? (
											<p class="description">{post.data.description}</p>
										) : null}

										<a href={`/blog/${post.slug}/`} class="read_more">Read more</a>
									</div>
								</div>
							</div>
						</li>
						</>
					))
				}
			</ul>

			<div class="blog_nav">
				<div class="flex">
					{page.url.prev ? <a href={page.url.prev}>Previous</a> : <a href={page.url.prev} class="disabled">Previous</a>}
					
					<span class="counter">{page.currentPage} of {page.lastPage}</span>
		
					{page.url.next ? <a href={page.url.next}>Next</a> : <a href={page.url.next} class="disabled">Next</a>}
				</div>
			</div>
		</section>
	</main>

    <Schema
        item={{
			"@context": "https://schema.org",
			"@type": "Blog",
			"@id": "sam-patel-blog",
			"description": "Samit Patel, London's trusted partner in professional commercial and office cleaning. Reliable, high standards, tailored to your needs. See why 95% of our clients stay.",
			"name": "Samit Patel Blog"
		  }}
    />
</Layout>


<style>
	.posts {
		margin-bottom: 5rem;
	}
</style>